table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table,
th,
td {
  border: 1px solid black;
}

td {
  min-height: 100px;
}
.textarea {
  width: 700px;
  height: 100px;
}
.display-image {
  height: 100px;
  width: 100px;
  float: right;
  display: block;
  z-index: 3;
}

.message {
  float: left;
  display: inline-flex;
  position: absolute;
  word-wrap: break-word;
  text-overflow: clip;
  max-width: 550px;
  z-index: 2;
  margin: 10px;
}

.emailcontent {
  top: 50%;
  float: left;
  text-overflow: ellipsis;
  position: relative;
}
