<!-- Create simple login page -->
<head>
  <meta charset="UTF-8" />
  <title>Register</title>
  <link rel="stylesheet" href="css/login.css" />
  <link rel="stylesheet" href="css/globals.css" />
  <link rel="stylesheet" href="css/register.css" />
</head>
<body>
  <div class="login-page">
    <div class="form">
      <form class="login-form" action="register" method="post">
        <h1>Register</h1>
        {{ if ne .issue "none" }}
        <div class="alert">
          <p>{{.issue}}</p>
        </div>
        {{else}} {{ end }}
        <div class="inputarea">
          <input type="text" placeholder="Name" name="username" />
          <div class="mailholder">
            <input
              class="inpmail"
              type="text"
              placeholder="Email"
              name="username"
            />
            <div class="emailprompt">
              <p class="prompttext">@{{.domain}}</p>
            </div>
          </div>
          <input type="password" placeholder="Password" name="password" />
          <input
            type="password"
            placeholder="Confirm Password"
            name="password2"
          />
        </div>
        <button type="submit">Register</button>
      </form>
      <p class="loginsuggest">
        Already have an account? <a href="./login">Log in here</a>
      </p>
    </div>
  </div>
</body>
